<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <script src="static/index.js"></script>
</head>
<body>

<main>
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    <form action="room" method="get" onsubmit="return joinroom(event)">
        <input type="text" required name="id" id="roomname" placeholder="room"></input>
        <input type="submit" value="Add Room"></input>
    </form>
</main>

</body>
</html>
