<!-- views/pages/roles.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/styles.css">
    <%- include('partials/head.ejs') %>
</head>
<body>
    <main>
        Trouble in Terrorist Town
        Roles
    </main>
    <div class="roles">
        <div class="detective">
            <h1>
                Detective
            </h1>
        </div>
        <div class="traitor">
            <h1>
                Traitor 
            </h1>
        </div>
        <div class="innocent">
            <h1>
                Innocent 
            </h1>
        </div>
    </div>
</body>
</html>
