<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <script src="/static/room.js"></script>
    <script>
        window.ROOM = "<%= room.id %>";
        window.WSHOST = "<%= ws.host %>";
    </script>
</head>
<body>

<main>
    <h1>Room: <%= room.id %></h1>

    <form id="nameform" onsubmit="return getPlayerName(event)">
        <input name="playername" id="playername" type="text" placeholder="Name">
        <input type="submit" value="Join"></input>
    </form>
    <div class="roles" id="role">
    </div>

    <div id="players_title"></div>
    <table id="players"></table>

    <button id="startgame" style="display:none">Start</button>
    <button id="stopgame" style="display:none">Stop</button>
</main>

</body>
</html>
