<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <script src="/static/room.js"></script>
    <script>
        window.ROOM = "<%= room.id %>";
        window.WSHOST = "<%= ws.host %>";
    </script>
</head>
<body>

<main>
    <h1>Room <%= room.id %></h1>
    <p>Welcome to templating using EJS</p>

    <p id="phase"></p>
    <p id="players"></p>

    <button id="startgame">Start</button>
</main>

</body>
</html>
