/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family:"SF Fedora";
    src:url("/static/fonts/SF_Fedora/SF_Fedora.eot?") format("eot"),url("/static/fonts/SF_Fedora/SF_Fedora.ttf") format("truetype"),url("/static/fonts/SF_Fedora/SF_Fedora.svg#SFFedora") format("svg");
    font-weight:normal;
    font-style:normal;
}
a {
    text-color: white;
}

body {
    text-align: center;
    margin: auto;
    font-size: large;
}
.header {
    font-family: "SF Fedora";
    font-size: xx-large;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding-bottom: 20px;
}

.roles > div {
    display: inline-block;
    margin: 5px;
}

main > h1 {
    margin-bottom: 50px;
    font-family: sans-serif;
    font-weight: 100;
}
.roles h1 {
    margin: 5px;
    padding: 10px;
    display: inline-block;
}
.roles {
    text-align: center;
    color: white;
    background: border-box;
    margin: auto;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin-bottom: 10px;
    font-family: sans-serif;
    height: 150px;
}
.detective {
    background-color: blue;
    border-radius: 10px;
}
.traitor {
    background-color: red;
    border-radius: 10px;
}
.innocent {
    background-color: green;
    border-radius: 10px;
}
.undetermined {
    background-color: white;
    border-radius: 10px;
    font-size: small;
    text-shadow: none;
    color: black;
}
.spectator {
    background-color: grey;
    border-radius: 10px;
}
.rules {
    text-align: center;
    padding-top: 200px;
    width: 650px;
    margin: auto;
    font-size: x-large;
    font-family: "SF Fedora";
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
@media (max-width: 700px) {
    .rules {
        width: 85%;
    }
}
.rules > ul {
    width: 85%;
}
#players {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#players td {
    padding-left: 5px;
    padding-right: 5px;
}
#players_title {
    padding-top: 10%;
}
li {
    text-align: left;
    font-weight: 100;
    font-family: none;
    color: black;
    text-shadow: none;
}
input {
    font-size: large;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    font-family: sans-serif;
}
#startgame {
    font-size: large;
    background-color: lightgreen;
}
button {
    font-size: large;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    width: 60px;
    font-family: sans-serif;
}
a, a:active, a:focus, a:hover, a:visited {
    color: white;
    text-decoration: none;
}
